@import url('https://fonts.googleapis.com/css2?family=TASA+Explorer:wght@400..800&display=swap');

$primary-font: 'TASA Explorer', sans-serif;
$primary-color: #48e054;

body {
	background-color: #030712;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	min-height: 100vh;
	min-width: 100%;
	background-color: #030712;
	box-sizing: border-box;
}

.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	min-height: 100vh;
	min-width: 100%;
	background-color: #030712;
	padding: 0px 32px;
	box-sizing: border-box;
}

.Header {
	background-color: #19191c;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 16px 64px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}

.h1 {
	font-family: $primary-font;
	font-size: 2rem;
	font-weight: 600;
	color: $primary-color;
	margin: 0;
	line-height: 1.2;
	text-align: center;
}
