@import url('https://fonts.googleapis.com/css2?family=TASA+Explorer:wght@400..800&display=swap');

$primary-font: 'TASA Explorer', sans-serif;
$primary-color: #4f46e5;

body {
	margin: 0;
	padding: 0;
	min-height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	background-color: #030712dc;
	color: #fff;
	font-family: 'Inter', sans-serif;
	overflow-y: auto;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;

	max-width: 1400px; // ограничим по ширине
	width: calc(100% - 64px); // учитываем отступы с margin
	min-height: 100vh;
	background-color: #030712;
	margin: 32px auto;
	border-radius: 15px;
	padding: 25px 40px;
	border: 3px solid #80808053;
	box-sizing: border-box; // чтобы padding не увеличивал ширину
}

.header1 {
	font-family: $primary-font;
	font-size: 2.5rem;
	font-weight: 600;
	color: $primary-color;
	margin: 0 0 1rem 0;
	line-height: 1.2;
	text-align: center;
}

/* Стили для грид контейнера */
.grid {
	width: 100%;
	display: grid;
	gap: 2.5rem; // gap-10
	grid-template-columns: 1fr; // по умолчанию 1 колонка
}

@media (min-width: 1024px) {
	.grid {
		grid-template-columns: repeat(2, 1fr); // lg:grid-cols-2
	}
}